<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517016779986-vprueootdgehe7t08obdl1t450nfb5hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517016779986-vprueootdgehe7t08obdl1t450nfb5hu</string>
	<key>API_KEY</key>
	<string>AIzaSyCMdozI26vWA3TXesRAWJKqtYJRGIRJ4zY</string>
	<key>GCM_SENDER_ID</key>
	<string>517016779986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.muskanrao.protocols-Demo2.Foodiezz</string>
	<key>PROJECT_ID</key>
	<string>foodiezz-1f618</string>
	<key>STORAGE_BUCKET</key>
	<string>foodiezz-1f618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517016779986:ios:1f67dc2642bbb492c6010b</string>
</dict>
</plist>